--
-- PostgreSQL database dump
--

\restrict 6eIHawrSycWAFbGwgpeE8r6k4mJFrsU3vDyquzleJIMJDM3DNycScFAebQxDPjJ

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_event; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.audit_event (
    id uuid NOT NULL,
    actor character varying(150) NOT NULL,
    action character varying(100) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id uuid,
    correlation_id character varying(100),
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_event OWNER TO hub;

--
-- Name: canonical_job; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_job (
    id uuid NOT NULL,
    canonical_source_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    organization_name character varying(300),
    location character varying(500),
    employment_type character varying(100),
    requisition_id character varying(300),
    normalized_job_url character varying(2000),
    normalized_apply_url character varying(2000),
    fingerprint character(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    availability_status character varying(30) DEFAULT 'UNCHECKED'::character varying NOT NULL,
    availability_checked_at timestamp with time zone,
    availability_http_status integer,
    availability_error text,
    consecutive_check_failures integer DEFAULT 0 NOT NULL,
    last_available_at timestamp with time zone
);


ALTER TABLE public.canonical_job OWNER TO hub;

--
-- Name: COLUMN canonical_job.active; Type: COMMENT; Schema: public; Owner: hub
--

COMMENT ON COLUMN public.canonical_job.active IS 'False when the public job/apply URL cannot be reached.';


--
-- Name: canonical_merge_history; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_merge_history (
    id uuid NOT NULL,
    entity_type character varying(20) NOT NULL,
    winner_id uuid NOT NULL,
    loser_id uuid NOT NULL,
    status character varying(20) NOT NULL,
    reason character varying(100) NOT NULL,
    confidence numeric(5,4),
    evidence jsonb DEFAULT '{}'::jsonb NOT NULL,
    merged_by character varying(150) NOT NULL,
    merged_at timestamp with time zone DEFAULT now() NOT NULL,
    reversed_by character varying(150),
    reversed_at timestamp with time zone,
    reversal_reason text,
    CONSTRAINT canonical_merge_history_entity_type_check CHECK (((entity_type)::text = ANY ((ARRAY['SOURCE'::character varying, 'JOB'::character varying])::text[]))),
    CONSTRAINT canonical_merge_history_status_check CHECK (((status)::text = ANY ((ARRAY['APPLIED'::character varying, 'REVERSED'::character varying])::text[])))
);


ALTER TABLE public.canonical_merge_history OWNER TO hub;

--
-- Name: canonical_merge_member; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_merge_member (
    id uuid NOT NULL,
    merge_history_id uuid NOT NULL,
    member_type character varying(30) NOT NULL,
    member_id uuid NOT NULL
);


ALTER TABLE public.canonical_merge_member OWNER TO hub;

--
-- Name: canonical_organization; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_organization (
    id uuid NOT NULL,
    normalized_name character varying(300) NOT NULL,
    display_name character varying(300) NOT NULL,
    official_domain character varying(253),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.canonical_organization OWNER TO hub;

--
-- Name: canonical_organization_alias; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_organization_alias (
    id uuid NOT NULL,
    canonical_organization_id uuid NOT NULL,
    alias character varying(300) NOT NULL,
    normalized_alias character varying(300) NOT NULL,
    language character varying(12),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.canonical_organization_alias OWNER TO hub;

--
-- Name: canonical_source; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.canonical_source (
    id uuid NOT NULL,
    canonical_organization_id uuid,
    display_name character varying(300),
    normalized_url character varying(2000),
    official_domain character varying(253),
    organization_name_normalized character varying(300),
    ats_provider character varying(100),
    ats_tenant_id character varying(300),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    availability_status character varying(30) DEFAULT 'UNCHECKED'::character varying NOT NULL,
    availability_checked_at timestamp with time zone,
    availability_http_status integer,
    availability_error text,
    source_type integer,
    consecutive_check_failures integer DEFAULT 0 NOT NULL,
    last_available_at timestamp with time zone
);


ALTER TABLE public.canonical_source OWNER TO hub;

--
-- Name: COLUMN canonical_source.active; Type: COMMENT; Schema: public; Owner: hub
--

COMMENT ON COLUMN public.canonical_source.active IS 'False when the public source URL cannot be reached.';


--
-- Name: connected_system; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.connected_system (
    id uuid NOT NULL,
    system_key character varying(80) NOT NULL,
    display_name character varying(160) NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.connected_system OWNER TO hub;

--
-- Name: deduplication_candidate; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.deduplication_candidate (
    id uuid NOT NULL,
    entity_type character varying(20) NOT NULL,
    raw_record_id uuid NOT NULL,
    proposed_canonical_id uuid NOT NULL,
    reason character varying(60) NOT NULL,
    confidence numeric(5,4) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    reviewed_by character varying(150),
    reviewed_at timestamp with time zone,
    review_note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    match_evidence jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.deduplication_candidate OWNER TO hub;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO hub;

--
-- Name: import_batch; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.import_batch (
    id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    status character varying(30) NOT NULL,
    source_cursor_start character varying(500),
    job_cursor_start character varying(500),
    source_cursor_end character varying(500),
    job_cursor_end character varying(500),
    imported_sources integer DEFAULT 0 NOT NULL,
    imported_jobs integer DEFAULT 0 NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    error_message text
);


ALTER TABLE public.import_batch OWNER TO hub;

--
-- Name: job_observation; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.job_observation (
    id uuid NOT NULL,
    canonical_job_id uuid NOT NULL,
    raw_job_id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    external_record_id character varying(300) NOT NULL,
    duplicate_reason character varying(60) NOT NULL,
    confidence numeric(5,4) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    match_evidence jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.job_observation OWNER TO hub;

--
-- Name: raw_job; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.raw_job (
    id uuid NOT NULL,
    import_batch_id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    external_record_id character varying(300) NOT NULL,
    payload jsonb NOT NULL,
    checksum character(64) NOT NULL,
    processing_status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    received_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_job OWNER TO hub;

--
-- Name: TABLE raw_job; Type: COMMENT; Schema: public; Owner: hub
--

COMMENT ON TABLE public.raw_job IS 'Immutable job payloads exactly as received; duplicate versions are retained by checksum.';


--
-- Name: raw_source; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.raw_source (
    id uuid NOT NULL,
    import_batch_id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    external_record_id character varying(300) NOT NULL,
    payload jsonb NOT NULL,
    checksum character(64) NOT NULL,
    processing_status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    received_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_source OWNER TO hub;

--
-- Name: TABLE raw_source; Type: COMMENT; Schema: public; Owner: hub
--

COMMENT ON TABLE public.raw_source IS 'Immutable source payloads exactly as received; duplicate versions are retained by checksum.';


--
-- Name: source_observation; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.source_observation (
    id uuid NOT NULL,
    canonical_source_id uuid NOT NULL,
    raw_source_id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    external_record_id character varying(300) NOT NULL,
    duplicate_reason character varying(60) NOT NULL,
    confidence numeric(5,4) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    match_evidence jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.source_observation OWNER TO hub;

--
-- Name: sync_checkpoint; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.sync_checkpoint (
    id uuid NOT NULL,
    connected_system_id uuid NOT NULL,
    record_type character varying(20) NOT NULL,
    cursor_value character varying(500),
    last_success_at timestamp with time zone,
    version bigint DEFAULT 0 NOT NULL
);


ALTER TABLE public.sync_checkpoint OWNER TO hub;

--
-- Name: talent_shift_outbox; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.talent_shift_outbox (
    id uuid NOT NULL,
    aggregate_type character varying(30) NOT NULL,
    aggregate_id uuid NOT NULL,
    payload jsonb NOT NULL,
    idempotency_key character varying(200) NOT NULL,
    status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    attempt_count integer DEFAULT 0 NOT NULL,
    next_attempt_at timestamp with time zone DEFAULT now() NOT NULL,
    last_error text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    sent_at timestamp with time zone
);


ALTER TABLE public.talent_shift_outbox OWNER TO hub;

--
-- Name: transfer_attempt; Type: TABLE; Schema: public; Owner: hub
--

CREATE TABLE public.transfer_attempt (
    id uuid NOT NULL,
    outbox_id uuid NOT NULL,
    attempt_number integer NOT NULL,
    idempotency_key character varying(200) NOT NULL,
    status character varying(30) NOT NULL,
    response_code integer,
    response_body text,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone
);


ALTER TABLE public.transfer_attempt OWNER TO hub;

--
-- Name: audit_event audit_event_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.audit_event
    ADD CONSTRAINT audit_event_pkey PRIMARY KEY (id);


--
-- Name: canonical_job canonical_job_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_job
    ADD CONSTRAINT canonical_job_pkey PRIMARY KEY (id);


--
-- Name: canonical_merge_history canonical_merge_history_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_merge_history
    ADD CONSTRAINT canonical_merge_history_pkey PRIMARY KEY (id);


--
-- Name: canonical_merge_member canonical_merge_member_merge_history_id_member_type_member__key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_merge_member
    ADD CONSTRAINT canonical_merge_member_merge_history_id_member_type_member__key UNIQUE (merge_history_id, member_type, member_id);


--
-- Name: canonical_merge_member canonical_merge_member_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_merge_member
    ADD CONSTRAINT canonical_merge_member_pkey PRIMARY KEY (id);


--
-- Name: canonical_organization_alias canonical_organization_alias_canonical_organization_id_norm_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_organization_alias
    ADD CONSTRAINT canonical_organization_alias_canonical_organization_id_norm_key UNIQUE (canonical_organization_id, normalized_alias);


--
-- Name: canonical_organization_alias canonical_organization_alias_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_organization_alias
    ADD CONSTRAINT canonical_organization_alias_pkey PRIMARY KEY (id);


--
-- Name: canonical_organization canonical_organization_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_organization
    ADD CONSTRAINT canonical_organization_pkey PRIMARY KEY (id);


--
-- Name: canonical_source canonical_source_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_source
    ADD CONSTRAINT canonical_source_pkey PRIMARY KEY (id);


--
-- Name: connected_system connected_system_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.connected_system
    ADD CONSTRAINT connected_system_pkey PRIMARY KEY (id);


--
-- Name: connected_system connected_system_system_key_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.connected_system
    ADD CONSTRAINT connected_system_system_key_key UNIQUE (system_key);


--
-- Name: deduplication_candidate deduplication_candidate_entity_type_raw_record_id_proposed__key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.deduplication_candidate
    ADD CONSTRAINT deduplication_candidate_entity_type_raw_record_id_proposed__key UNIQUE (entity_type, raw_record_id, proposed_canonical_id);


--
-- Name: deduplication_candidate deduplication_candidate_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.deduplication_candidate
    ADD CONSTRAINT deduplication_candidate_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: import_batch import_batch_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.import_batch
    ADD CONSTRAINT import_batch_pkey PRIMARY KEY (id);


--
-- Name: job_observation job_observation_connected_system_id_external_record_id_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_connected_system_id_external_record_id_key UNIQUE (connected_system_id, external_record_id);


--
-- Name: job_observation job_observation_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_pkey PRIMARY KEY (id);


--
-- Name: job_observation job_observation_raw_job_id_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_raw_job_id_key UNIQUE (raw_job_id);


--
-- Name: raw_job raw_job_connected_system_id_external_record_id_checksum_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_job
    ADD CONSTRAINT raw_job_connected_system_id_external_record_id_checksum_key UNIQUE (connected_system_id, external_record_id, checksum);


--
-- Name: raw_job raw_job_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_job
    ADD CONSTRAINT raw_job_pkey PRIMARY KEY (id);


--
-- Name: raw_source raw_source_connected_system_id_external_record_id_checksum_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_source
    ADD CONSTRAINT raw_source_connected_system_id_external_record_id_checksum_key UNIQUE (connected_system_id, external_record_id, checksum);


--
-- Name: raw_source raw_source_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_source
    ADD CONSTRAINT raw_source_pkey PRIMARY KEY (id);


--
-- Name: source_observation source_observation_connected_system_id_external_record_id_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_connected_system_id_external_record_id_key UNIQUE (connected_system_id, external_record_id);


--
-- Name: source_observation source_observation_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_pkey PRIMARY KEY (id);


--
-- Name: source_observation source_observation_raw_source_id_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_raw_source_id_key UNIQUE (raw_source_id);


--
-- Name: sync_checkpoint sync_checkpoint_connected_system_id_record_type_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.sync_checkpoint
    ADD CONSTRAINT sync_checkpoint_connected_system_id_record_type_key UNIQUE (connected_system_id, record_type);


--
-- Name: sync_checkpoint sync_checkpoint_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.sync_checkpoint
    ADD CONSTRAINT sync_checkpoint_pkey PRIMARY KEY (id);


--
-- Name: talent_shift_outbox talent_shift_outbox_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.talent_shift_outbox
    ADD CONSTRAINT talent_shift_outbox_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: talent_shift_outbox talent_shift_outbox_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.talent_shift_outbox
    ADD CONSTRAINT talent_shift_outbox_pkey PRIMARY KEY (id);


--
-- Name: transfer_attempt transfer_attempt_outbox_id_attempt_number_key; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.transfer_attempt
    ADD CONSTRAINT transfer_attempt_outbox_id_attempt_number_key UNIQUE (outbox_id, attempt_number);


--
-- Name: transfer_attempt transfer_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.transfer_attempt
    ADD CONSTRAINT transfer_attempt_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_audit_event_created; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_audit_event_created ON public.audit_event USING btree (created_at DESC);


--
-- Name: idx_audit_event_entity; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_audit_event_entity ON public.audit_event USING btree (entity_type, entity_id, created_at DESC);


--
-- Name: idx_candidate_pending; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_candidate_pending ON public.deduplication_candidate USING btree (status, entity_type, created_at);


--
-- Name: idx_canonical_job_freshness; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_canonical_job_freshness ON public.canonical_job USING btree (active, availability_checked_at, id);


--
-- Name: idx_canonical_source_freshness; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_canonical_source_freshness ON public.canonical_source USING btree (active, availability_checked_at, id);


--
-- Name: idx_import_batch_status_started; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_import_batch_status_started ON public.import_batch USING btree (status, started_at DESC, id DESC);


--
-- Name: idx_job_active_org_created; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_job_active_org_created ON public.canonical_job USING btree (active, organization_name, created_at DESC, id DESC);


--
-- Name: idx_job_fingerprint; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_job_fingerprint ON public.canonical_job USING btree (fingerprint);


--
-- Name: idx_job_title_trgm; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_job_title_trgm ON public.canonical_job USING gin (lower((title)::text) public.gin_trgm_ops);


--
-- Name: idx_merge_history_winner; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_merge_history_winner ON public.canonical_merge_history USING btree (entity_type, winner_id, merged_at DESC);


--
-- Name: idx_organization_alias_normalized; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_organization_alias_normalized ON public.canonical_organization_alias USING btree (normalized_alias);


--
-- Name: idx_outbox_ready; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_outbox_ready ON public.talent_shift_outbox USING btree (status, next_attempt_at);


--
-- Name: idx_outbox_status_created; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_outbox_status_created ON public.talent_shift_outbox USING btree (status, created_at DESC, id DESC);


--
-- Name: idx_raw_job_pending; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_raw_job_pending ON public.raw_job USING btree (processing_status, received_at);


--
-- Name: idx_raw_job_system_received; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_raw_job_system_received ON public.raw_job USING btree (connected_system_id, received_at DESC, id DESC);


--
-- Name: idx_raw_source_pending; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_raw_source_pending ON public.raw_source USING btree (processing_status, received_at);


--
-- Name: idx_raw_source_system_received; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_raw_source_system_received ON public.raw_source USING btree (connected_system_id, received_at DESC, id DESC);


--
-- Name: idx_source_active_domain_created; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_source_active_domain_created ON public.canonical_source USING btree (active, official_domain, created_at DESC, id DESC);


--
-- Name: idx_source_domain; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_source_domain ON public.canonical_source USING btree (lower((official_domain)::text));


--
-- Name: idx_source_org_name_trgm; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_source_org_name_trgm ON public.canonical_source USING gin (organization_name_normalized public.gin_trgm_ops);


--
-- Name: idx_transfer_attempt_outbox_started; Type: INDEX; Schema: public; Owner: hub
--

CREATE INDEX idx_transfer_attempt_outbox_started ON public.transfer_attempt USING btree (outbox_id, started_at DESC);


--
-- Name: uq_active_merge_loser; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_active_merge_loser ON public.canonical_merge_history USING btree (entity_type, loser_id) WHERE ((status)::text = 'APPLIED'::text);


--
-- Name: uq_job_apply_url; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_job_apply_url ON public.canonical_job USING btree (normalized_apply_url) WHERE (normalized_apply_url IS NOT NULL);


--
-- Name: uq_job_external_per_source; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_job_external_per_source ON public.job_observation USING btree (canonical_job_id, connected_system_id, external_record_id);


--
-- Name: uq_job_url; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_job_url ON public.canonical_job USING btree (normalized_job_url) WHERE (normalized_job_url IS NOT NULL);


--
-- Name: uq_org_name_domain; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_org_name_domain ON public.canonical_organization USING btree (normalized_name, COALESCE(official_domain, ''::character varying));


--
-- Name: uq_source_ats_tenant; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_source_ats_tenant ON public.canonical_source USING btree (lower((ats_provider)::text), ats_tenant_id) WHERE ((ats_provider IS NOT NULL) AND (ats_tenant_id IS NOT NULL));


--
-- Name: uq_source_url; Type: INDEX; Schema: public; Owner: hub
--

CREATE UNIQUE INDEX uq_source_url ON public.canonical_source USING btree (normalized_url) WHERE (normalized_url IS NOT NULL);


--
-- Name: canonical_job canonical_job_canonical_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_job
    ADD CONSTRAINT canonical_job_canonical_source_id_fkey FOREIGN KEY (canonical_source_id) REFERENCES public.canonical_source(id);


--
-- Name: canonical_merge_member canonical_merge_member_merge_history_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_merge_member
    ADD CONSTRAINT canonical_merge_member_merge_history_id_fkey FOREIGN KEY (merge_history_id) REFERENCES public.canonical_merge_history(id);


--
-- Name: canonical_organization_alias canonical_organization_alias_canonical_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_organization_alias
    ADD CONSTRAINT canonical_organization_alias_canonical_organization_id_fkey FOREIGN KEY (canonical_organization_id) REFERENCES public.canonical_organization(id);


--
-- Name: canonical_source canonical_source_canonical_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.canonical_source
    ADD CONSTRAINT canonical_source_canonical_organization_id_fkey FOREIGN KEY (canonical_organization_id) REFERENCES public.canonical_organization(id);


--
-- Name: import_batch import_batch_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.import_batch
    ADD CONSTRAINT import_batch_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: job_observation job_observation_canonical_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_canonical_job_id_fkey FOREIGN KEY (canonical_job_id) REFERENCES public.canonical_job(id);


--
-- Name: job_observation job_observation_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: job_observation job_observation_raw_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.job_observation
    ADD CONSTRAINT job_observation_raw_job_id_fkey FOREIGN KEY (raw_job_id) REFERENCES public.raw_job(id);


--
-- Name: raw_job raw_job_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_job
    ADD CONSTRAINT raw_job_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: raw_job raw_job_import_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_job
    ADD CONSTRAINT raw_job_import_batch_id_fkey FOREIGN KEY (import_batch_id) REFERENCES public.import_batch(id);


--
-- Name: raw_source raw_source_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_source
    ADD CONSTRAINT raw_source_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: raw_source raw_source_import_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.raw_source
    ADD CONSTRAINT raw_source_import_batch_id_fkey FOREIGN KEY (import_batch_id) REFERENCES public.import_batch(id);


--
-- Name: source_observation source_observation_canonical_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_canonical_source_id_fkey FOREIGN KEY (canonical_source_id) REFERENCES public.canonical_source(id);


--
-- Name: source_observation source_observation_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: source_observation source_observation_raw_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.source_observation
    ADD CONSTRAINT source_observation_raw_source_id_fkey FOREIGN KEY (raw_source_id) REFERENCES public.raw_source(id);


--
-- Name: sync_checkpoint sync_checkpoint_connected_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.sync_checkpoint
    ADD CONSTRAINT sync_checkpoint_connected_system_id_fkey FOREIGN KEY (connected_system_id) REFERENCES public.connected_system(id);


--
-- Name: transfer_attempt transfer_attempt_outbox_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hub
--

ALTER TABLE ONLY public.transfer_attempt
    ADD CONSTRAINT transfer_attempt_outbox_id_fkey FOREIGN KEY (outbox_id) REFERENCES public.talent_shift_outbox(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6eIHawrSycWAFbGwgpeE8r6k4mJFrsU3vDyquzleJIMJDM3DNycScFAebQxDPjJ

